<header >
<div class ="header-style">
   
            <div>My Face</div>
            <div class="selected">
                <div><a href="/posts">Posts</a></div>
                <div><a href="/users">Users</a></div>
                <div><a href="/users/create">Create Users</a></div>
            </div>
            <div class="push">  <a href="/posts/create">+New Post</a></div> 
  
</div>
</header>
