<header >
<div class ="header-style">
   
            <div>My Face</div>
            <div class="selected">
                <a href="#">Home</a>
                <a href="/posts">Posts</a>
                <a href="/users">Users</a>
            </div>
            <div class="push">  <a href="/posts/create">+New Post</a></div> 
  
</div>
</header>
